pytest
certifi==2019.11.28
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.4
Flask==1.1.1
flaskr==1.0.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
requests==2.22.0
urllib3==1.25.7
waitress==1.4.2
Werkzeug==0.16.0
